.container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	min-height: 100vh;
}
.box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	margin: 10px;
	font-weight: 600;
	text-align: center;
	background-color: bisque;
	border-radius: 12px;
}
.circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	margin: 10px;
	font-weight: 600;
	text-align: center;
	background-color: pink;
	border-radius: 100%;
}
